REACT_APP_BACKEND_SERVER=http://localhost:8000/api/
#WDS_SOCKET_PORT=443  #this is needed for https API

PORT=3000

REACT_APP_GOOGLE_CLIENT_ID=

REACT_APP_FACEBOOK_APP_ID=

REACT_APP_LINKEDIN_CLIENT_ID=

REACT_APP_PINTEREST_CLIENT_ID=

REACT_APP_SNAPCHAT_CLIENT_ID=
 
REACT_APP_TIKTOK_CLIENT_KEY=

REACT_APP_GOOGLE_MAP_API_KEY=

REACT_APP_AWS_S3_BUCKET_URL=https://s3.us-east-2.amazonaws.com/yourbucket